$primary: #000000;
$secondary: #54534A;
$link: #98765B;
$terciary: #54534A;
$text: #7A7774;

@font-face {
    font-family: "156";
    src: url("../fonts/156.woff");
}



html, body{
    margin:0;
    padding:0;
}

p{
    margin:0;
    padding:0;
}

body{
    background-color:#DED5CC;
    font-size:16px;
    font-family: '156', sans-serif;
}

ul{
    margin:0;
    padding:0;
}

a{
    color:$link;
    text-decoration:none;
}

main{
    max-width:100%;
    margin:auto;
    padding:20px;
}

#return-btn{
    a{
        display:block;
        width:30px;
        height:30px;
        border-radius:15px;
        background-color: rgb(166, 130, 98);
        text-indent:-3000px;
        background-image:url('../svg/arrow-left.svg');
        background-repeat:no-repeat;
        background-position:center center;
        background-size:15px 15px;
        opacity:0.6;
    }
}

@media screen and (min-width:560px){
    main{
        max-width:520px;
    }
    body{
        padding-top:80px;
    }
    #languages{
        max-width:300px!important;
    }
}