#languages{
    padding:10px 56px;
    margin:auto;
    max-width:400px;
    ul{
        list-style-type: none;
        display:flex;
        justify-content: space-between;
        *{
            font-size:16px;
            
        }
        li{
            &.active{
                a{
                    color:$terciary;
                    border-bottom:1px solid $terciary;
                    padding-bottom:6px;
                }
            }
            
        }
    }
}

@media screen and (min-width:768px){
    #languages{
        padding:10px 20px;
    }
}