#home{
    .logo-header{
        text-align: center;
        padding-bottom:30px;
    }
    #dinamic-content{
        background-size:auto 100%;
        background-repeat:no-repeat;
        background-position:top left;
        > div{
            display:flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            font-family:'156';
            *{
                color:$secondary;
            }
            > div{
                flex-basis:calc(100% - 45px);
                text-align:center;
                margin:2px 0;
                font-size:56px;
                margin-left:20px;
            }
            a{
                
                width:30px;
                height:30px;
                border-radius:15px;
                background-color: rgb(166, 130, 98);
                background-image:url('../svg/arrow.svg');
                background-repeat:no-repeat;
                background-position:center center;
                background-size:15px 15px;
                margin-top:-5px;
                opacity:0.6;
            }
        }
        div.highlight{
            position:relative;
            margin-top:20px;
            &:before{
                content:"";
                width:150px;
                border-bottom:1px dotted $link;
                position:absolute;
                right:0;
                top:-18px;
            }
            & + a{
                margin-top:3px!important;
            }
        }
    }
}

#page{
    padding:20px 10px;
    #intro{
        flex-wrap: wrap;
        display:flex;
        margin-bottom:30px;
        .menu-price{
            font-size:24px;
            color:$terciary;
        }
        .column-titles{
            margin-bottom:-15px;
            flex:0 0 calc(100% - 25px);
            padding-right:25px;
            color:#54534a;
            font-size:12px;
            display:none;
            justify-content: flex-end;
            text-transform:uppercase;
            > div:nth-child(2){
                margin-left:20px;
            }
        }
        .title{
            font-size:24px;
            color:$terciary;
            text-transform: uppercase;
            letter-spacing:1px;
            padding-left:15px;
            
        }
        .info{
            padding-left:15px;
            padding-right:30px;
            
        }
        .info + .title{
            margin-top:5px;
        }
        .content{
            
            max-width:calc(100% - 60px)
        }
        p{
            color:$link;
            font-size:16px;
            line-height:1.4;
            &.vegeatarian{
                padding-left:18px;
                background:url('../svg/vegetarian.svg') no-repeat center left;
                background-size:12px 12px;
            }
            &.glutenfree{
                padding-left:18px;
                background:url('../svg/glutenfree.svg') no-repeat center left;
                background-size:15px 15px;
            }
            &.big{
                padding-left:18px;
                background:url('../svg/big.svg') no-repeat center left;
                background-size:12px 12px;
            }
        }
    }
    
    #dinamic-content{
        position:relative;
        width:calc(100% - 35px);
        padding-right:22px;
        overflow:auto;

        
        .title-family{
            color:$link;
            text-transform:uppercase;
            margin-bottom:17px;
            padding-left:44px;
            span{
                display:block;
                text-transform: initial;
            }
            
        }
        .family{
            margin-bottom:17px;
        }
        .main-product{
            display:flex;
            justify-content: space-between;
            align-items: flex-start;
            margin:6px 0;
            .title{
                color:$terciary;
                text-transform: uppercase;
                
            }
            .descr{
                color:$secondary;
                line-height:20px;
                color:$text;
               
            }
            
            .prices{
                color:$terciary;
                flex-basis:90px;
                text-align: right;
                
                display:flex;
                justify-content: flex-end;
                > div:nth-child(2){
                    margin-left:auto;
                }
                .oneprice{
                    margin-right:auto!important;
                    padding-left:10px;
                }
            }
            .attributes{
                width:46px;
                display:flex;
                justify-content: center;
                .glutenfree, .vegetarian, .big{
                    width:20px;
                    height:20px;
                    background:url('../svg/glutenfree.svg') no-repeat center center;
                    background-size:15px 15px;
                }
                .vegetarian{
                    background:url('../svg/vegetarian.svg') no-repeat center center;
                    background-size:12px 12px;
                }
                .big{
                    background:url('../svg/big.svg') no-repeat center center;
                    background-size:12px 12px;
                }
                + div{
                    flex-basis: calc(100% - 135px);
                    padding-right:10px;
                }
            }
            &.info{
                margin-top:20px;
            }
            &.price{
                margin-top:20px;
                .title{
                    color:$link;
                    font-size:16px;
                    text-transform:none;
                    
                }   
            }
            &.note{
                margin-top:20px;
                border:1px dotted $link;
                padding:20px 40px 20px 40px;
                display:block;
                margin-left:44px;
                text-align:center;
            }
            &.option{
                padding-left:25px;
                margin-bottom:0;
                margin-top:0;
                .title{
                    
                    text-transform: none;
                }
            }
        }
        .main-product:not(.option) + .main-product.option{
            .title{
                color:#7a7774;
            }
            
        }
    }
    &.double-price{
        .prices{
            justify-content: flex-start!important;
        }
    }
    &.list-titles{
        .column-titles{
            display:flex!important;
        }
        .prices{
            justify-content: flex-end!important;
        }
    }
}

.os-theme-dark>.os-scrollbar-vertical .os-scrollbar-handle:before{
    background-color:$link;
    left:-3px;
}

.os-theme-dark>.os-scrollbar>.os-scrollbar-track{
    background-color:#A3A3A3;
    border-radius:0;
}

.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden>.os-scrollbar-vertical{
    width:1px;
    background-color:#A3A3A3;
    border-radius:0;

}