<!DOCTYPE html>
<html class="notranslate" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta Godot</title>
    <meta name="google" content="notranslate" />
    <link rel="stylesheet" href="/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <header>
        <nav id="languages">
            <ul>
            {% if active_lang == 'ca' %}
                <li class="active"><a href="/">català</a></li>
                <li><a href="/index-es">castellano</a></li>
                <li><a href="/index-en">english</a></li>
            {% endif %}    
            {% if active_lang == 'es' %}
                <li><a href="/">català</a></li>
                <li class="active"><a href="/index-es">castellano</a></li>
                <li><a href="/index-en">english</a></li>
            {% endif %}    
            {% if active_lang == 'en' %}
                <li><a href="/">català</a></li>
                <li><a href="/index-es">castellano</a></li>
                <li  class="active"><a href="/index-en">english</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>
    {{ content }}
    <footer>

    </footer>
</body>
</html>