---
layout: layouts/base.html
---
<main id="home">
    <a href="/" id="return-home">home</a>
    <div id="dinamic-content"></div>
    <script src="/js/app.js"></script>
    <script>
        fetchXml('/xmls/home-ca.xml', 'home');
    </script>
</main>
    
