---
layout: layouts/base.html
---
<main id="page">
    
    <div id="intro">
        <div id="return-btn">
            {% if active_lang == 'ca' %}
            <a href="/">back to home</a>
            {% endif %}
            {% if active_lang == 'es' %}
            <a href="/index-es">back to home</a>
            {% endif %}
            {% if active_lang == 'en' %}
            <a href="/index-en">back to home</a>
            {% endif %}
            
        </div>
        <div class="content">
           
        </div>
        
    </div>
    <div id="dinamic-content">
    </div>
    <script src="/js/app.js"></script>
    <script src="/js/OverlayScrollbars.min.js"></script>
    <script>
        fetchXml('/xmls/{{ xml }}', 'products');
    </script>
</main>
    
