---
layout: layouts/base.html
active_lang: 'en'
---
<main id="home">
    <div class="logo-header"><img src="/svg/logo.png"></div>
    <div id="dinamic-content"></div>
    <script src="/js/app.js"></script>
    <script>
        fetchXml('/xmls/home-en.xml', 'home');
    </script>
</main>